.sidebar {
  color: white;
  background-color: black;
  padding: 20px;
  height: 100%;
}

.sidebar a {
  height: 100%;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.logo {
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}
